{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>main</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}

<nav>
{% include 'navbar.html' %}
</nav>

<div class="container mx-auto px-4 py-8 pt-16">
    <h1 class="text-3xl font-bold text-center text-indigo-600">Welcome to WeMart by Muhammad Fadhlan Arradhi - 2306240061!</h1>

    <h3 class="text-xl text-center mt-4">Saat ini anda ter-login dengan akun: {{user_name}}</h3>

    <div class="mt-6 bg-white p-6 rounded-lg shadow-md shadow-amber-300">
        <h5 class="font-semibold text-lg">Nama Produk :</h5>
        <p class="mb-4">{{ name }}</p>

        <h5 class="font-semibold text-lg">Harga :</h5>
        <p class="mb-4">Rp. {{ price }}</p>

        <h5 class="font-semibold text-lg">Deskripsi :</h5>
        <p class="mb-4">{{ description }}</p>

        <img class="w-48 h-auto rounded-lg" src="{{ image }}" alt="Gambar Produk">

        <h5 class="font-semibold text-lg mt-6">Sesi terakhir login: {{ last_login }}</h5>
    </div>
</div>
  </div>

  <div id="product_entry_cards"></div>

<div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
  <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 border-b rounded-t">
      <h3 class="text-xl font-semibold text-indigo-600">
        Tambahkan Produk
      </h3>
      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="px-6 py-4 space-y-6 form-style">
      <form id="productForm">
        <div id="formError" class="text-red-500"></div>
        <div class="mb-4">
          <label for="name" class="mb-2 font-semibold text-gray-700">name</label>
          <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-orange-400" placeholder="Masukan Nama Produk" required>
        </div>
        <div class="mb-4">
          <label for="description" class="mb-2 font-semibold text-gray-700">description</label>
          <textarea id="description" name="description" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-orange-400" placeholder="Masukan Deskripsi Produk" required></textarea>
        </div>
        <div class="mb-4">
          <label for="price" class="mb-2 font-semibold text-gray-700">price</label>
          <input type="number" id="price" name="price" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-orange-400" required>
        </div>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
      <button type="button" class="bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Kembali</button>
      <button type="submit" id="submitProductEntry" form="productForm" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
    </div>
  </div>
</div>


  <div class="mt-6">
      <a href="{% url 'main:create_product_entry' %}">
          <button class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Tambahkan Produk</button>
      </a>
      <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600" onclick="showModal();">
        Tambahkan produk by AJAX
      </button>
      <a href="{% url 'main:logout' %}">
          <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">Logout</button>
      </a>
  </div>
</div>

<script>
  function addProductEntry() {
    fetch("{% url 'main:add_product_entry_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#productForm')),
    })
    .then(response => {
    if (response.ok) {
      // Berhasil menambahkan produk
      refreshProductEntries(); // Refresh daftar produk
      hideModal(); // Menutup modal
      document.getElementById("productForm").reset(); // Membersihkan form
    } else {
      document.getElementById("formError").innerText = "Semua field harus diisi.";
    }
  })
  .catch(error => {
    console.error('Error:', error);
    document.getElementById("formError").innerText = "Gagal mengirimkan data.";
  });
  return false;
}

  async function getProductEntries(){
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }

  async function refreshProductEntries() {
    document.getElementById("product_entry_cards").innerHTML = "";
    document.getElementById("product_entry_cards").className = "";
    const ProductEntries = await getProductEntries();
    let htmlString = "";
    let classNameString = "";

    if (ProductEntries.length === 0) {
        classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
        htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <img src="{% static 'image/umaru.gif' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
                <p class="text-center text-gray-600 mt-4">Belum ada product ditambahkan.</p>
            </div>
        `;
    }
    else {
        classNameString = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6"
        ProductEntries.forEach((item) => {
          const name = DOMPurify.sanitize(item.fields.name);
          const description = DOMPurify.sanitize(item.fields.description);
          const price = DOMPurify.sanitize(item.fields.price);
            htmlString += `
            <div class="bg-white-500 shadow-md shadow-amber-300 rounded-lg p-6">
                <img src="${item.fields.image_url}" alt="Gambar Produk" class="w-full h-48 object-contain rounded-lg mb-4 center">
                <h2 class="text-xl font-semibold">${name}</h2>
                <p class="text-gray-600 mt-2">${description}</p>
                <p class="text-indigo-600 font-bold mt-2">Rp. ${price}</p>
    
                <div class="mt-4 flex">
                    <a href="/edit-product/${item.pk}">
                        <button class="bg-yellow-500 text-white py-1 px-3 rounded  hover:bg-yellow-600">Edit</button>
                    </a>
                    <a href="/delete-product/${item.pk}">
                        <button class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600">Delete</button>
                    </a>
                </div>
            </div>
            `;
        });
    }
    document.getElementById("product_entry_cards").className = classNameString;
    document.getElementById("product_entry_cards").innerHTML = htmlString;
}

  const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    function showModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');

        modal.classList.remove('hidden'); 
        setTimeout(() => {
          modalContent.classList.remove('opacity-0', 'scale-95');
          modalContent.classList.add('opacity-100', 'scale-100');
        }, 50); 
    }

    function hideModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');

        modalContent.classList.remove('opacity-100', 'scale-100');
        modalContent.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
          modal.classList.add('hidden');
        }, 150); 
    }

    document.getElementById("cancelButton").addEventListener("click", hideModal);
    document.getElementById("closeModalBtn").addEventListener("click", hideModal);
    document.getElementById("submitProductEntry").onclick = addProductEntry
refreshProductEntries();
</script>
{% endblock content %}
</body>
</html>
