{% extends 'base.html' %}
{% block content %}
<h1>Welcome to WeMart by Muhammad Fadhlan Arradhi - 2306240061!</h1>

<h3>Saat ini anda ter-login dengan akun: {{user_name}}</h3>
<h5>Nama Produk : </h5>
<p>{{ name }}<p>
<h5>Harga : </h5>
<p>Rp. {{ price }}<p>
<h5>Deskripsi : </h5>
<p>{{ description }}<p>
<img src="{{ image }}">
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% if not product_entries %}
<p>Belum ada produk baru ditambahkan.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Deskripsi</th>
    <th>Harga</th>
    <th>Gambar</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.price}}</td>
    <td><img src="{{ product_entry.image.url }}" alt="Gambar Produk" width="100"></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Tambahkan Produk</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

{% endblock content %}
